<%= resource.errors.full_messages if resource.errors.full_messages.any? %>
<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">G+T</h1>
    </div>
    <h3>Register to SmartDone+</h3>
    <p>Create account to see it in action.</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, class: 'form-control', required: true, placeholder: 'Email' %>
        </div>

          <div class="form-group">
            <%= f.password_field :password, class: 'form-control password', required: true, placeholder: 'Password' %>
          </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm', required: true %>
        </div>
        <div class="form-group">
          <div class="checkbox"><label> <input type="checkbox" required="true"><i></i> Agree the terms and policy </label></div>
        </div>
        <%= f.submit t('.sign_up', default: 'Register'), class: 'btn btn-primary block full-width m-b' %>
        <%= render 'devise/shared/links' %>
    <% end %>
    <p class="m-t"> <small>Developed by Entrepreneurds</small> </p>
  </div>
</div>