<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Lawyers on Demand</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_4' %>">Home</a>
            </li>
            <li class="active">
                <strong>Lawyers on Demand</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-3">
        <div class="contact-box center-version">

            <a href="profile.html">

                <img alt="image" class="img-circle" src="<%= image_path('a2.jpg') %>">


                <h3 class="m-b-xs"><strong>John Smith</strong></h3>

                <div class="font-bold">Lawyer</div>
                <address class="m-t-md">
                    <strong>Gilbert + Tobin</strong><br>
                    200 Barangaroo Ave<br>
                    Barangaroo, 2000<br>
                    <abbr title="Phone">P:</abbr> (02) 9263 4000
                </address>

            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3">
        <div class="contact-box center-version">

            <a href="profile.html">

                <img alt="image" class="img-circle" src="<%= image_path('a1.jpg') %>">


                <h3 class="m-b-xs"><strong>Alex Johnatan</strong></h3>

                <div class="font-bold">Lawyer</div>
                <address class="m-t-md">
                  <strong>Legal Vision</strong><br>
                  67 Fitzroy St<br>
                  Surry Hills NSW 2010<br>
                  <abbr title="Phone">P:</abbr> 1300 544 755
                </address>

            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3">
        <div class="contact-box center-version">

            <a href="profile.html">

                <img alt="image" class="img-circle" src="<%= image_path('a3.jpg') %>">


                <h3 class="m-b-xs"><strong>Monica Smith</strong></h3>

                <div class="font-bold">Partner</div>
                <address class="m-t-md">
                  <strong>Gilbert + Tobin</strong><br>
                  200 Barangaroo Ave<br>
                  Barangaroo, 2000<br>
                  <abbr title="Phone">P:</abbr> (02) 9263 4000
                </address>

            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3">
        <div class="contact-box center-version">

            <a href="profile.html">

                <img alt="image" class="img-circle" src="<%= image_path('a4.jpg') %>">


                <h3 class="m-b-xs"><strong>Michael Zimber</strong></h3>

                <div class="font-bold">Partner</div>
                <address class="m-t-md">
                  <strong>Gilbert + Tobin</strong><br>
                  200 Barangaroo Ave<br>
                  Barangaroo, 2000<br>
                  <abbr title="Phone">P:</abbr> (02) 9263 4000
                </address>

            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3">
        <div class="contact-box center-version">

            <a href="profile.html">

                <img alt="image" class="img-circle" src="<%= image_path('a5.jpg') %>">


                <h3 class="m-b-xs"><strong>Sandra Smith</strong></h3>

                <div class="font-bold">Lawyer</div>
                <address class="m-t-md">
                  <strong>Gilbert + Tobin</strong><br>
                  200 Barangaroo Ave<br>
                  Barangaroo, 2000<br>
                  <abbr title="Phone">P:</abbr> (02) 9263 4000
                </address>

            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-3">
        <div class="contact-box center-version">

            <a href="profile.html">

                <img alt="image" class="img-circle" src="<%= image_path('a6.jpg') %>">


                <h3 class="m-b-xs"><strong>Janet Carton</strong></h3>

                <div class="font-bold">Lawyer</div>
                <address class="m-t-md">
                  <strong>Legal Vision</strong><br>
                  67 Fitzroy St<br>
                  Surry Hills NSW 2010<br>
                  <abbr title="Phone">P:</abbr> 1300 544 755
                </address>
            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-3">
        <div class="contact-box center-version">

            <a href="profile.html">

                <img alt="image" class="img-circle" src="<%= image_path('a1.jpg') %>">


                <h3 class="m-b-xs"><strong>Alex Johnatan</strong></h3>

                <div class="font-bold">Partner</div>
                <address class="m-t-md">
                  <strong>Legal Vision</strong><br>
                  67 Fitzroy St<br>
                  Surry Hills NSW 2010<br>
                  <abbr title="Phone">P:</abbr> 1300 544 755
                </address>

            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-3">
        <div class="contact-box center-version">

            <a href="profile.html">

                <img alt="image" class="img-circle" src="<%= image_path('a7.jpg') %>">


                <h3 class="m-b-xs"><strong>John Smith</strong></h3>

                <div class="font-bold">Lawyer</div>
                <address class="m-t-md">
                  <strong>Gilbert + Tobin</strong><br>
                  200 Barangaroo Ave<br>
                  Barangaroo, 2000<br>
                  <abbr title="Phone">P:</abbr> (02) 9263 4000
                </address>

            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3">
        <div class="contact-box center-version">

            <a href="profile.html">

                <img alt="image" class="img-circle" src="<%= image_path('a2.jpg') %>">


                <h3 class="m-b-xs"><strong>John Smith</strong></h3>

                <div class="font-bold">Partner</div>
                <address class="m-t-md">
                  <strong>Gilbert + Tobin</strong><br>
                  200 Barangaroo Ave<br>
                  Barangaroo, 2000<br>
                  <abbr title="Phone">P:</abbr> (02) 9263 4000
                </address>

            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3">
        <div class="contact-box center-version">

            <a href="profile.html">

                <img alt="image" class="img-circle" src="<%= image_path('a1.jpg') %>">


                <h3 class="m-b-xs"><strong>Alex Johnatan</strong></h3>

                <div class="font-bold">Lawyer</div>
                <address class="m-t-md">
                  <strong>Legal Vision</strong><br>
                  67 Fitzroy St<br>
                  Surry Hills NSW 2010<br>
                  <abbr title="Phone">P:</abbr> 1300 544 755
                </address>

            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3">
        <div class="contact-box center-version">

            <a href="profile.html">

                <img alt="image" class="img-circle" src="<%= image_path('a3.jpg') %>">


                <h3 class="m-b-xs"><strong>Monica Smith</strong></h3>

                <div class="font-bold">Lawyer</div>
                <address class="m-t-md">
                    <strong>Legal Vision</strong><br>
                    67 Fitzroy St<br>
                    Surry Hills NSW 2010<br>
                    <abbr title="Phone">P:</abbr> 1300 544 755
                </address>

            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3">
        <div class="contact-box center-version">

            <a href="profile.html">

                <img alt="image" class="img-circle" src="<%= image_path('a4.jpg') %>">


                <h3 class="m-b-xs"><strong>Michael Zimber</strong></h3>

                <div class="font-bold">Partner</div>
                <address class="m-t-md">
                  <strong>Gilbert + Tobin</strong><br>
                  200 Barangaroo Ave<br>
                  Barangaroo, 2000<br>
                  <abbr title="Phone">P:</abbr> (02) 9263 4000
                </address>

            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                </div>
            </div>

        </div>
    </div>


</div>
</div>

