<div class="wrapper wrapper-content">
<div class="container">
  <% if @project %>
  <div class="row">
    <div class="col-md-12">
      <div class="ibox">
        <div class="ibox-content  animated fadeInDown">
          <div class="row">
            <div class="col-md-2">
              <h1><%= @project.name if @project %></h1>
              <small><%= @project.description if @project%></small>
            </div>
            <div class="col-md-offset-1 col-md-3 m-t-sm">
              <a href="<%= forms_wizard_path %>"  class="btn btn-primary btn-lg">
                1. Generate Agreement
              </a>
            </div>
            <div class="col-md-3 m-t-sm">
              <div class="btn btn-default btn-lg">
                2. Setup Legal Structure
              </div>
            </div>
            <div class="col-md-3 m-t-sm">
              <div class="btn btn-default btn-lg">
                <a href="<%= commerce_products_grid_path %>">
                  3. Get Hardware
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <% if @project %>
          <div class="row">
            <div class="col-lg-4">
              <div class="contact-box animated fadeInUp">
                <a href="#">
                  <div class="col-sm-4">
                    <div class="text-center">
                      <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path("a1.jpg") %>">
                      <div class="m-t-xs font-bold">Starfleet officer</div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <h3><strong>James T. Kirk</strong></h3>
                    <p><i class="fa fa-map-marker"></i> USS Enterprise</p>
                    <address>
                      <strong>United Federation of Planets</strong><br>
                      San Francisco, Earth<br>
                      <abbr title="Phone">P:</abbr> (555) 111-6666
                    </address>
                  </div>

                  <div class="text-center">
                    <label><small>Usage</small></label>
                    <h4 class="text-success"> 6.5 kWh</h4>
                  </div>
                </a>
              </div>
            </div>
          <div class="col-lg-4">
            <div class="contact-box animated fadeInUp">
              <a href="#">
                <div class="col-sm-4">
                  <div class="text-center">
                    <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path("a2.jpg") %>">
                    <div class="m-t-xs font-bold">Sith Lord</div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <h3><strong>Anakin Skywalker</strong></h3>
                  <p><i class="fa fa-map-marker"></i> Death Star Ave 32/106</p>
                  <address>
                    <strong>Empire, Inc.</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                  </address>
                </div>
                <div class="text-center">
                  <label><small>Usage</small></label>
                  <h4 class="text-danger"> 10.5 kWh</h4>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="contact-box animated fadeInUp">
              <a href="#">
                <div class="col-sm-4">
                  <div class="text-center">
                    <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path("a3.jpg") %>">
                    <div class="m-t-xs font-bold">IT Support Manager</div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <h3><strong>Jen Barber</strong></h3>
                  <p><i class="fa fa-map-marker"></i> Basement</p>
                  <address>
                    <strong>Reynholm Industries</strong><br>
                    123 Carenden Road<br>
                    London, ‎EC1A England<br>
                    <abbr title="Phone">P:</abbr> 0118 999 881 99 9119 7253
                  </address>
                </div>
                <hr>
                <div class="text-center">
                  <label><small>Usage</small></label>
                  <h4 class="text-success"> 4.7 kWh</h4>
                </div>
              </a>
            </div>
        </div>
    <% end %>
  </div>
  <% end %>
<div class="row">
    <div class="col-md-2">
        <div class="ibox float-e-margins animated fadeInUp">
            <div class="ibox-title">
                <span class="label label-success pull-right">Monthly</span>
                <h5>Power Gen</h5>
            </div>
            <div class="ibox-content">
                <h3 class="no-margins">208.34 kWh</h3>
                <div class="stat-percent font-bold text-success">83% <i class="fa fa-bolt"></i></div>
                <small>Capacity</small>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="ibox float-e-margins animated fadeInUp">
            <div class="ibox-title">
                <span class="label label-info pull-right">Monthly</span>
                <h5>Usage</h5>
            </div>
            <div class="ibox-content">
                <h3 class="no-margins">736.92 kWh</h3>
                <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                <small>Last month</small>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="ibox float-e-margins animated fadeInUp">
            <div class="ibox-title">
                <span class="label label-primary pull-right">Today</span>
                <h5>Current Stats</h5>
            </div>
            <div class="ibox-content">

                <div class="row">
                    <div class="col-md-4">
                        <h3 class="no-margins">6.8 kWh</h3>
                        <div class="font-bold text-success"><small>Power Gen</small></div>
                    </div>
                    <div class="col-md-4">
                        <h3 class="no-margins">21.7 kWh</h3>
                        <div class="font-bold text-danger"><small>Usage</small></div>
                    </div>
                    <div class="col-md-4">
                      <h3 class="no-margins">5.7 kWh</h3>
                      <div class="font-bold text-navy"><small>89% Charge</small></div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ibox float-e-margins animated fadeInUp">
            <div class="ibox-title">
                <h5>Public Usage</h5>
                <div class="ibox-tools">
                    <span class="label label-primary">Updated 05.2017</span>
                </div>
            </div>
            <div class="ibox-content no-padding">
                <div class="flot-chart m-t-lg" style="height: 55px;">
                    <div class="flot-chart-content" id="flot-chart1"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins animated fadeInUp">
            <div class="ibox-content">
                <div>
                            <span class="pull-right text-right">

                            </span>
                    <h3 class="font-bold no-margins">
                        Estimated Break Even Point
                    </h3>

                </div>

                <div class="m-t-sm">

                    <div class="row">
                        <div class="col-md-8">
                            <div>
                                <canvas id="lineChart" height="114"></canvas>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="stat-list m-t-lg">
                                <li>
                                    <h2 class="no-margins">2,346 kWh</h2>

                                    <div class="progress progress-mini">
                                        <div class="progress-bar" style="width: 48%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">4,422 kWh</h2>

                                    <div class="progress progress-mini">
                                        <div class="progress-bar" style="width: 60%;"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="m-t-md">
                    <small class="pull-right">
                        <i class="fa fa-clock-o"> </i>
                        Update on 13.05.2017
                    </small>
                    <small>
                        <strong>Prediction of usage:</strong> Q1 2019
                    </small>
                </div>

            </div>
        </div>
    </div>


</div>


</div>

</div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function() {

    $("span.pie").peity("pie", {
        fill: ['#1ab394', '#d7d7d7', '#ffffff']
    })

    var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 21982], [1272672000000, 16602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
    var d2 = [[1262304000000, 5000], [1264982400000, 20000], [1267401600000, 16050], [1270080000000, 31290], [1272672000000, 21643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

    var data1 = [
        { label: "Data 1", data: d1, color: '#17a084' },
        { label: "Data 2", data: d2, color: '#ED5565'}
    ];
    $.plot($("#flot-chart1"), data1, {
        xaxis: {
            tickDecimals: 0
        },
        series: {
            lines: {
                show: true,
                fill: true,
                fillColor: {
                    colors: [{
                        opacity: 1
                    }, {
                        opacity: 0.1
                    }]
                },
            },
            points: {
                width: 0.1,
                show: false
            },
        },
        grid: {
            show: false,
            borderWidth: 0
        },
        legend: {
            show: false,
        }
    });

    var lineData = {
        labels: ["2016", "2017", "2018", "2019", "2020", "2021", "2022"],
        datasets: [
            {
                label: "LRAC",
                backgroundColor: "rgba(26,179,148,0.5)",
                borderColor: "rgba(26,179,148,0.7)",
                pointBackgroundColor: "rgba(26,179,148,1)",
                pointBorderColor: "#fff",
                data: [60, 50, 42, 38, 34, 30, 25]
            },
            {
                label: "Savings",
                backgroundColor: "rgba(220,220,220,0.5)",
                borderColor: "rgba(220,220,220,1)",
                pointBackgroundColor: "rgba(220,220,220,1)",
                pointBorderColor: "#fff",
                data: [10, 15, 26, 35, 46, 50, 57]
            }
        ]
    };

    var lineOptions = {
        responsive: true
    };


    var ctx = document.getElementById("lineChart").getContext("2d");
    new Chart(ctx, {type: 'line', data: lineData, options:lineOptions});


});


</script>

<% end %>