<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Products grid</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path%>">Home</a>
            </li>
            <li class="active">
                <strong>Micro Grid Packages</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="text-center">
                        <img src="<%= image_path("shop1") %>" height="200px">
                    </div>
                    <div class="product-desc">
                                  <span class="product-price">
                                      $8078.77
                                  </span>
                      <small class="text-muted">Solar Panel</small>
                      <a href="#" class="product-name"> 5.0kWh Panel System</a>



                      <div class="small m-t-xs">
                        20 x 250 Watt high efficiency solar panel
                        Generates 5,475 kWh/year
                      </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                  <div class="text-center">
                    <img src="<%= image_path("shop2") %>" height="200px">
                  </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $4224.41
                                </span>
                        <small class="text-muted">Solar Panel</small>
                        <a href="#" class="product-name"> 3.0kWh Panel System</a>



                        <div class="small m-t-xs">
                          12 x 250 Watt high efficiency solar panel
                          Generates 5,475 kWh/year
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                  <div class="text-center">
                    <img src="<%= image_path("shop3") %>" height="200px">
                  </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $2110.00
                                </span>
                        <small class="text-muted">Solar Panel</small>
                        <a href="#" class="product-name"> 1.5kWh Panel System</a>



                        <div class="small m-t-xs">
                          6 x 250 Watt high efficiency solar panel
                          Generates 2,920 kWh/year
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                  <div class="text-center">
                    <img src="<%= image_path("shop4") %>" height="200px">
                  </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $8278.24
                                </span>
                        <small class="text-muted">Batteries</small>
                        <a href="#" class="product-name"> Mavero 10</a>



                        <div class="small m-t-xs">
                          Lightweight, ultra efficient power storage unit
                          Austrian engineering
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>






    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                  <div class="text-center">
                    <img src="<%= image_path("shop5") %>" height="200px">
                  </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $8078.77
                                </span>
                        <small class="text-muted">Batteries</small>
                        <a href="#" class="product-name"> 5.0kWh Panel System</a>



                        <div class="small m-t-xs">
                          20 x 250 Watt high efficiency solar panel
                          Generates 5,475 kWh/year
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                  <div class="text-center">
                    <img src="<%= image_path("shop6") %>" height="200px">
                  </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $8,800
                                </span>
                        <small class="text-muted">Batteries</small>
                        <a href="#" class="product-name"> Product</a>



                        <div class="small m-t-xs">
                          High volume storage for energy capture and reuse
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                  <div class="text-center">
                    <img src="<%= image_path("shop7") %>" height="200px">
                  </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $12,600
                                </span>
                        <small class="text-muted">Batteries</small>
                        <a href="#" class="product-name"> Redflow Zcell</a>



                        <div class="small m-t-xs">
                          Energy storage, capture and reuse.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                  <div class="text-center">
                    <img src="<%= image_path("shop8") %>" height="200px">
                  </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $7,014.78
                                </span>
                        <small class="text-muted">Kits</small>
                        <a href="#" class="product-name"> 1.5kWh Complete Kit</a>



                        <div class="small m-t-xs">
                          Solar kit including panel batteries and wiring
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>





</div>
